.a-header{
    background: url(../../img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    
  }
  .about-header-text{

    color: white;
    margin: 2rem 0rem 0rem 0rem;
    text-align: center;
  }