.nav-color{
background-color: transparent;
color: white;
}
.logo{
  width: 7rem;
}




  .pet{
    font-weight: 500;
    margin: 0rem 7rem 0rem 0rem;
    /* align-content: space-evenly; */
    letter-spacing: 0.2rem;
  }

  